{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">
             
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">
      
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <span>Day 2</span>
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day-buttons">
            <button class="btn btn-circle day-btn">1</button>
            <button class="btn btn-circle day-btn current-day">2</button>
            <button class="btn btn-circle day-btn">3</button>
            <button class="btn btn-circle day-btn" id="day-add">+</button>
          </div>
        </div>
        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group hotel">
              
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group restaurant">
              
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group activity">
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/jquery/jquery.min.js"></script>

<script>
  {% autoescape false %}
  var hotels = {{ templateHotels | json }};
  var restaurants = {{ templateRestaurants | json }};
  var activities = {{ templateActivities | json }};

  var byName = {
    hotel: {},
    restaurant: {},
    activity: {}
  }

  var itinerary = {
      hotel: [],
      restaurant: [],
      activity: []
  }

  $(document).ready(function() {

      hotels.forEach(function(hotel) {
        $('#hotel-choices').append('<option>'+hotel.name+'</option>');
        byName['hotel'][hotel.name] = hotel;
      });

      restaurants.forEach(function(restaurant) {
        $('#restaurant-choices').append('<option>'+restaurant.name+'</option>');
        byName['restaurant'][restaurant.name] = restaurant;
      });

      activities.forEach(function(activity) {
        $('#activity-choices').append('<option>'+activity.name+'</option>');
        byName['activity'][activity.name] = activity;
      });

      $('[data-action="add"]').on('click', function() {
        var type = $(this).prev().data('type');
        var selected = $(this).prev().val();
        var list = 'ul.'+type;
        if (itinerary[type].indexOf(selected)=== -1) {
            itinerary[type].push(selected);
          if ((itinerary.hotel.length > 1) || (itinerary.restaurant.length > 3)) {
            itinerary[type].shift();
            $(list).children()[0].remove();
          }
          var newItem = '<li><div class="itinerary-item"><span class="title">'+selected+'</span><button class="btn '+ 'btn-xs btn-danger remove btn-circle">x</button></div></li>';
          $(list).append(newItem);
        }
      });

      $('.list-group')
  })



  {% endautoescape %}
</script>

{% endblock %}
